/*INICIA CONTACTO*/
@media (max-width:715px) {
    .glbCont{
        margin: 0;
        h1{
            font-size: 24px;
            margin-bottom: 10px; 
            margin-top: 10px;  
        }
        a{
            font-size: 14px;
        }
    
        h2{
            font-size: 20px;
        }
    
    }
    
    .Ct{
            @include centrado-full;
            flex-direction: column;
            margin-bottom: 15px;
            margin-top: 15px;
        h2{
            font-size: 18px;
        }
        .grid-telf{
                img{
                    width: 40px;
                    height: 40px;
                }
        }
        .grid-red{
            li{
                margin-bottom: 10px;
            }
            img{
                width: 30px;
                height: 30px;
            }
        }
        .grid-mail{
            img{
                width: 30px;
                height: 30px;
            }
            a{
                font-size: 14px;
            }
        }
    }
    
    .grid-mapas{
        gap: 25px;
        margin-bottom: 5%;
        .direc1{
            margin-left:5%;
            margin-right:5%;
            
            p{
                font-size: 14px;
            }
        }
        .direc2{
            margin-left:5%;
            margin-right:5%;

            p{
                font-size: 14px;
            }
        }
        .mapa1{
            width: 90%;
            height: 500px;
        }
        .mapa2{
            width: 90%;
            height: 500px;
        }
        }
    }