/*INICIA QS*/
@media (max-width:425px){
    .globQS{
        aside{
            gap: 20px;
            
            img{
                width: 130px;
                height: 130px;
            }
        }
        section{
            margin-left: 5%;
            margin-right: 5%;
            > div{
                margin-bottom: 30px;
            }
            h2{
                @include h2;
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
        }
    }

}
/*FIN DE QS*/