$main-color: #26348C;
$font: 'Montserrat', sans-serif;
$grid-item-1024: 14px;
$grid-item-768: 12px;
$grid-item-425: 11px;
$grid-item-375: 10px;
$grid-item-320: 9px;

$accordion-header-height: 60px;
$img-serv-responsive: 30px;
$height-img-serv: 200px;
$margin-top-img-serv: 50px;