/*INICIO DE HEADER*/
@media (max-width:1120px){
.navbar-desktop{
    img{
        height: 90px;   
    }

    nav{
        ul{
            li{
                a{
                    font-size: 16px;
                    &:hover{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
}

.navbar-tablet{
    display: none;
}
/*FIN DE HEADER*/