/*INICIA INDEX*/
@media (max-width:1024px){


.esloganInicio{
    h1{
        height: 200px;
        @include h1-1024;
    }
}

.nclientes{
    font-size: 32px;

}
.carousel{
    margin-bottom: 75px;
    & .carousel-inner{
        div{
            ul{
                gap: 75px;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}
}